body {
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
}

header img {
    display: block;
    overflow: hidden;
    width: 100%;
}

nav {
    position: sticky; 
    top: 0; 
}

.btn-group {
    
    width: 100%; 
    
}

.btn-group button {
    background-color: #FF5733 ; 
    border: 1px solid #ff5833d0 ; 
    color: white; 
    padding: 20px 24px; 
    float: left; 
    border: none;
    width: 20%;
  }
  

  .btn-group button:hover {
    background-color: black;
  }

  .btn-group a {
    
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 20px;
  }

.container {
    width: 100%;
}

.art {
    width: 80%;
    background: red;
    float: left;
}

.aside {
    height: 100%;
    background: green;
  }





