h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: blanchedalmond;
}

h2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: blanchedalmond;
}

h3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: blanchedalmond;
}

h4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: blanchedalmond;
}

mark {
    background-color: black;
    color: white;
}

p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: blanchedalmond;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 600px;
    height: 500px;
}

body {
    background-color: cornflowerblue;
}
