.menu a {
    Font-variant:small-caps;
    Color:blue;
    Text-decoration:none;
    font-size: 28px;
    font-family: Arial, sans-serif;
}

.menu a:visited {
    color:green;
}

.menu a:hover {
    Color:red;
    Text-decoration:underline;
}

body {
    text-align: center;
}