table {
    border-collapse: collapse;
    text-align: center;
    width: 600px;
    border-color: #8AB9E3;
    border-width: 3px;
}

tr {
    height: 45px;
}

.row1,
.row2 {
    color: white;
    background-color: #0170BF;

}

.row3,
.row5,
.row7,
.row9,
.row11 {
    background-color: #f1f1f1;
}