.container {
    width: fit-content;
    height: 635px;
    background: aqua;
    padding: 10px;
    display:flex;
}

.article iframe {
    width: 900px;
    height: 700px;
    padding-top: 15px;
}

.aside {
    height: 600px;
    width: 300px;
}


.aside img {
    height: 204px;
    width: 300px;
}