.basket,
.heart,
.letter {
    width: 25px;
    height: 25px;
}

.col-25 {
    float: left;
    width: 25%;
}

.product {
    border-radius: 10px;
    box-shadow: 0px 0px 5px gray;
    margin: 5px;
    padding: 5px;
    text-align: center;
    position: relative;
}

.product>.name {
    font-variant: small-caps;
    color: orangered;
}

.product>.images {
    max-width: 98%;
    height: 150px;
    margin-bottom: 10px;
}

.product>.price {
    position: absolute;
    left: 5px;
    bottom: 5px;
    font-family: Impact;
    font-size: 25px;
    color: orangered;
}

.product>.icon {
    position: absolute;
    width: 25px;
    bottom: 5px;
    right: 5px;
}

.product>.new-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0px;
    right: 0px;
}